body {font-family:font-family 'Lateef', cursive;;
    background-color:greenyellow;
  color: red;
    width: 40%;
    margin: 0 auto; 
}
#sv{
  margin-left: 30px;
}

#s{
  margin-left: 30px;
}
#v{
  margin-left: 100px;
}